.contenedor {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.barra-menu {
    background-color: black;
    padding: 8px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.lista-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.lista-menu a {
    width: 100%;
    color: white;
}

.us {
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px;
}

.hamburguesa,
.lista-menu {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 60;
    text-align: center;
    width: auto;
}

.hamburguesa:active {
    transform: scale(1.1);
}

.lista-menu li a:hover,
.lista-opcion-user li a:hover {
    color: #008cb2;
}

.user,
.bolsa,
.hamburguesa {
    font-size: 27px;
}

.logo {
    width: 55px;
}

.user_btns,
.user-div,
.mobile-menu_logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-div h3 {
    color: white;
}

.imagen {
    height: 93vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.6)),
        url('../img/abs-g76dbf12cf_1280.jpg');
    background-position: center top;
    background-size: cover;
    padding: 0px 170px;
    object-fit: contain;
}

.titulo {
    color: black;
    text-align: center;
    padding-top: 260px;
}

.titulo p {
    text-align: center;
    color: white;
    font-size: 17px;
    line-height: 22px;
}

/* MAIN CONTENT */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    height: 80vh;
    flex: 1;
}

.min-info img {
    width: 65%;
    height: 240px;
    border-radius: 10px;
    min-height: 400px;
}

.card {
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card>p {
    width: 70%;
    color: #0f172a;
}

.min-info {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes a {
    text-decoration: none;
    margin: 0px 3px;
}

.redes {
    width: 80%;
    text-align: center;
    margin: 8px 0px;
}

.redes a i {
    font-size: 25px;
}

.redes a i:hover {
    font-size: 15px;
    transform: scale(2, 2);
}

.min-info h2 {
    color: black;
}

.min-info img {
    object-fit: cover;
}

span {
    color: #008cb2;
    font-size: 20px;
}

.two {
    display: block;
}

.hamburguesa {
    display: none;
}

/* Banner */
.banner {
    width: 100%;
    height: 130px;
    display: flex;
    background-color: #111111;
    color: white;
    margin-bottom: 40px;
    justify-content: space-evenly;
    padding-top: 20px;
}

.banner h3 {
    padding-bottom: 5px;
}

.box-info {
    width: 40%;
}

/* bxSlider */
.bx-wrapper {
    height: auto;
    margin: 0px auto;
}

.bx-Slider img {
    height: 20px;
}

/* Section-Products */
.seccion-custom-contenedor {
    width: 100%;
    display: flex;
    text-align: center;
}

.seccion-1-custom img {
    width: 12%;
}

.seccion-1-custom {
    padding-bottom: 10px;
}

/* Video-Seccion */
.video-seccion {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.video-seccion h3 {
    width: 50%;
    height: 40px;
    font-size: 25px;
    margin-bottom: 5px;
    background-color: #111111;
    margin: 0px auto;
    color: white;
    border-radius: 10px;
}

iframe {
    margin-top: 5px;
}

@media (max-width:1200px) {
    main {
        flex-wrap: wrap;
        gap: 50px;
    }

    .card-width100 {
        width: 500px;
        flex-wrap: wrap
    }
}

@media (max-width:720px) {

    .card-width100,
    .card {
        width: 620px;
    }

    .lista-menu {
        display: none;
    }

    .imagen {
        padding: 0px 100px;
    }

    .nav-mobile {
        display: none;
    }

    .bx-wrapper {
        width: 100%;
    }
}