*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    height: 100vh;
}
.imagen { 
     height: 90vh; 
     width: 100%; 
     background-image:   linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6)
      ),
     url('../img/fitness.jpg'); 
     background-position: center top;
     background-size: cover;   
}
.titulo{
    position: absolute;
    top: 350px;
    left: 350px;
    text-align: center;
}
.titulo p{
    color: white;
    font-weight: bold;
}
/* MAIN CONTENT */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.min-info img{
    width: 180px;
    height: 300px;
    border-radius: 15px;
}

.card{
    width: 100%;
    margin-top: 45px;
}
.card>p{
    width: 95%;
    text-align: center;
    color: black;
}
.min-info{
    width:80%;
    text-align: center;
}
.redes{
    width: 80%;
    text-align: center;
}
.redes a i{
    font-size: 25px;
}
.redes a i:hover{
    font-size: 15px;
    transform: scale(2,2);
}
.min-info h2{
    color: #008CB2;
}
span{
    color: gray;
}
footer{
    margin-top: 700px;
    width: 100%;
    height: 90px;
    background-color: black;
    color: white;
    line-height: 5;
    text-align: center;
}