.contenedor {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.hide {
  display: none;
}

.title-header{
  display: flex;
  justify-content: space-between;
}

.head-table{
  display: flex;
  flex-direction: column;
  background: #2b95b1;
  border: 1px solid black;
}

.head-table thead tr , 
.head-table tbody tr{
  display: flex;
}

.head-table thead tr th , 
.head-table tbody tr td{
  display: flex;
  flex: 1;
}

.head-table tbody tr+tr{
  border-top: 1px solid black;
}
.body-table{
  background-color: aliceblue;
}
th{
  width: 100px;
}

@media screen and (max-width:640px){

  .head-table tbody tr, .head-table tbody tr td , .head-table thead tr th{
    flex-direction: column;
  }

  .head-table tbody tr td:before{
    display: flex;
    content: attr(data-label);
  
  }
}