.contenedor {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 10px 20px;
}

.hide {
  display: none;
}

.title-header{
  display: flex;
  justify-content: space-between;
}

.head-table{
  display: flex;
  flex-direction: column;
  background: #2b95b1;
  border: 1px solid black;
}

.head-table thead tr , 
.head-table tbody tr{
  display: flex;
}

.head-table thead tr th , 
.head-table tbody tr td{
  display: flex;
  flex: 1;
}

.head-table tbody tr+tr{
  border-top: 1px solid black;
}
.body-table{
  background-color: aliceblue;
}
th{
  width: 100px;
}

tr td{
  flex-direction: column;
}


.inputsContainer{
  padding: 30px 0px;
}
.btnProducto{
  width: 25%;
  margin-bottom: 20px;
}

.inputsContainer input{
  width: 50%;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputsContainer label{
  margin-left: 40px;
}

.btns-form-productos{
  display: flex;
  gap: 26px;
}

input[type="file"]{
  border: none;
}
@media screen and (max-width:640px){
  .head-table tbody tr, .head-table tbody tr td , .head-table thead tr th{
    flex-direction: column;
  }

  .head-table tbody tr td:before{
    display: flex;
    content: attr(data-label);
  }

  .inputsContainer input{
    width: 100%;
  }
}

