/* Estilos globales */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}
.lista-opcion-user a{
  color: white;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

i {
  color: white;
}


/* Menu */
.barra-menu {
  background-color: black;
  padding: 8px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.lista-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-mobile .lista-menu{
  padding-top: 65px;
}

.lista-menu a {
  width: 100%;
  color: white;
}

.hamburguesa,.lista-menu {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 60;
  text-align: center;
  width: auto;
}

.hamburguesa:active {
  transform: scale(1.1);
}

.lista-menu li a:hover , .lista-opcion-user li a:hover{
  color: #008cb2;
}
.user,
.bolsa, .hamburguesa {
  font-size: 27px;
}

.nav-desktop {
  align-items: center;
  justify-content: space-between;
  flex: 1;
  display: none;
}
.bolsa span{
  color: white;
 font-size: 20px;
 margin-left: 4px;
}
.nav-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 50;
  width: 300px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
}

.header-expanded .nav-mobile {
  left: 0;
}

.nav-mobile ul,
.nav-mobile {
  flex-direction: column;
  background-color: black;
  align-items: flex-start;
  padding: 10px;
}

.logo{
  width: 55px;
}

.user_btns , .user-div ,.mobile-menu_logo{
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-div h3{
  color: white;
}
.menu-user-general{
  display: none;
}
.nav-user-mobile{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
}

  .nav-user-desktop{
    display: none;
  }

.header-expanded-mobile{
    top: 70px;
    height: 100%;
    right: 0;
    display: block;
    position: absolute;
    background-color: black;
    position: absolute;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 20;
    text-align: end;
    }

.salir-usuario{
  background-color: white;
  padding: 5px 20px;
  border-radius: 10px;
}

/* Footer */
footer {
  width: 100%;
  height: 85px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  justify-content: center;
  margin-top: 30px;
}
.banner-cookie{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0px;
  background-color: black;
  color: white;
  text-align: center;
  display: none;
}
.banner-cookie div{
  margin-top: 25px;
} 
.btn-general{
  width: 120px;
  height: 35px;
  border: none;
  background-color: #008CB2;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 4px;
}

#mensaje-error, #mensaje{
    display: none;
    background: antiquewhite;
    padding: 10px;
    border-radius: 8px;
}
/** mientras sea mayor a 600px no se mostraran estas opciones **/
@media (min-width: 680px) {
  .hamburguesa {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
  }
  .nav-user-mobile{
    display: none;
  }
.nav-user-desktop{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
  }

  .header-expanded-user{
    height: auto;
    top: 70px;
    right: 0px;
    display: block;
    position: absolute;
    background-color: black;
    position: absolute;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    
  }

}
