*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);

}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    width: 300px;
    height: 200px;
}

.contenedorPagina{
    width: 90%;
    height: 670px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.iconUser{
    width: 100px;
}

img{
    width: 100%;
    height: 100%;
}

.ingresoEnlazado{
    display: flex;
}

.datos{
    flex-grow: 1;
}

.cajaDatos{
    display: flex;
    width: 100%;
    gap: 10px;
} 

.imagen-user{
    width: 100px;
    margin: auto;
    position: relative;
    bottom: 50px;
    height: 103px;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    background-color: #1ad1c3;

}

.cajaDatos label{
    width: 30px;
}

.boton-inicio{
    margin: auto;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.navegador{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ingresoEnlazado button{
        width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
}