
h1{
    color: white;
    margin-bottom: 20px;

}
span{
    font-weight: bold;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    background-color: #191515;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    top: -20px;
    position: relative;
    padding: 0px 20px;
}

button{
    width: 300px;
    height: 200px;
    background-color: #008CB2;
}

.contenedorPagina{
    width: 90%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.iconUser{
    width: 100px;
}

.ingresoEnlazado{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.datos{
    flex-grow: 1;
}

.cajaDatos{
    display: flex;
    width: 100%;
    gap: 10px;
} 

.imagen-user{
    width: 135px;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
    height: 135px;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1.5px 1.5px 0.5px gray;
}


.cajaDatos label{
    width: 25px;
    height: 30px;
}

.boton-inicio{
    margin: auto;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #008CB2;
    border: none;
    color: white;
}

.navegador{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input{
    border:1.5px solid gray;
    background-color: white;
    height: 35px;
    border-radius: 5px;
     margin-top: 5px;
    padding: 5px 10px;
    font-family: inherit;
}
.ingresoEnlazado a , .ingresoEnlazado a:visited{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008CB2;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
}
.navegador a{
     text-decoration: none;
     color: black;
}

.contacto {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.cajaDatos div img{
    width: 110%;
}
input.boton-inicio[value]{
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

.google-icono img{
    width: 27px;
}
.facebook-icono img{
    width: 16px;
}

#nombreUsuario-error , #contraUsuario-error , .error-login{
    background-color: #eeeeee;
    padding: 10px;
    margin: 3px;
    color: #dc0000;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.caja-datos-user , .caja-datos-contra{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

@media only screen and (min-width:500px) {
    .contenedorPagina{
        width: 80%;
    }
}
@media only screen and (min-width:800px) {
    .contenedorPagina{
        width: 60%;
    }
}
@media only screen and (min-width:1100px) {
    .contenedorPagina{
        width: 40%;
    }
}