
h1{
    color: white;
    margin-bottom: 20px;
    font-family: 'Beau Rivage', cursive;

}
span{
    font-weight: bold;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.formularioLogin{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    padding: 0px 20px;
}

.iconUser{
    width: 100px;
}


.datos{
    flex-grow: 1;
}

.cajaDatos{
    display: flex;
    width: 100%;
    gap: 10px;
} 

.cajaDatos label{
    width: 25px;
    height: 30px;
}

.boton-inicio{
    margin: auto;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #008CB2;
    border: none;
    color: white;
}

input{
    border:1.5px solid gray;
    background-color: white;
    height: 35px;
    border-radius: 5px;
     margin-top: 5px;
    padding: 5px 10px;
    font-family: inherit;
}

.contacto {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.cajaDatos div img{
    width: 110%;
}
input.boton-inicio[value]{
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

#nombreUsuario-error , #contraUsuario-error , .error-login{
    background-color: #eeeeee;
    padding: 10px;
    margin: 3px;
    color: #dc0000;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.caja-datos-user , .caja-datos-contra{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
.imagen-george-prada{
    margin-bottom: 20px;
    width: 200px;
}

.box-information{
    background: #404040;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.box-information div:first-child{
    width: 345px;
}

section{
    width: 530px;
    text-align: center;
    color: #ffffffe8;
}

section h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.box-login{
    display: flex;
    flex-direction: column;
}


@media (min-width: 1000px) {
    .box-login{
        flex-direction: row;
    }
}
