.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.caja-presentacion-usuario {
  width: 100%;
  border: 2px solid green;
  flex-direction: column;
}

.presentacion-usuario {
  display: flex;
  height: 70px;
}

.seccion-usuario {
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caja {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.presentacion-usuario img {
  position: absolute;
  top: 145px;
  background: dimgray;
  margin-left: 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.caja-nombre {
  background-color: #f0f8ff9c;
  padding: 15px;
}

.btns-editar {
  display: flex;
  gap: 20px;
}

.actualizarCuenta,
.cancelarInfoCuenta {
  display: none;
}
form > div,
.btns-formContra2 {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.formInfoCuenta input[type="text"] , .formContacto input[type="text"],.formDatsComplementarios input[type="text"], .formDatsComplementarios input[type="date"], .formDireccionesRegistro input[type='text'], .formDireccionesRegistro input[type='number'] {
  border: none;
}
/* Form actualizar contraseñas */
.formContraseña1 {
  justify-content: space-between;
}
.formContraseña2 {
  display: none;
}
.showFormContra2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* form info contacto*/
.actualizarInfoContact ,.cancelarformUpdateContact{
  display: none;
}

/*form datos complementarios*/
.cancelarDatsComplement, .actualizarDatsComplement{
  display: none;
}
/* form direcciones*/
.cancelarDireccionInput1 , .actualizarDirecciones{
  display: none;
}


#error{
  display: none;
  background-color: rgba(250, 187, 187, 0.55);
  margin: 5px 15px;
  padding: 10px 15px;
  border-radius: 5px;
}

.formEliminarCuenta{
    flex-direction: column;
    align-items: center;
    background: #e54438;
    border-radius: 8px;
    padding: 35px;
    gap: 10px;
    color: white;
}

.formEliminarCuenta div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formEliminarCuenta input{
    border-radius: 10px;
    padding: 5px 20px;
    background: white;
}

.box-presentacion-perfil{
  display: flex;
  align-items: center;
}

.box-presentacion-perfil section{
  flex: 1;
}

.box-presentacion-perfil div{
  width: 300px;
  display: flex;
  height: 300px;
}

.div-img-perfil div img{
  border-radius: 50%;
}

.box-portada-perfil img{
  height: 150px ;
  display: flex;
}

@media (min-width: 700px) {
  .presentacion-usuario img {
    width: 120px;
    height: 120px;
  }
}

#modal-overlay {
  display: none; 
  top: 0; 
  left: 0; 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 100;
}

#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
