.contenedor{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.caja-presentacion-usuario{
    height: 260px;
    display: flex;
    flex-direction: column;
}

.presentacion-usuario{
    display: flex;
    height: 70px;
}

.seccion-usuario{
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja-presentacion-usuario img{
    height: 140px;
}
.presentacion-usuario img{
    position: absolute;
    top: 145px;
    background: dimgray;
    margin-left: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.caja-nombre{
    background-color: #f0f8ff9c;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid gray;
}

.updateName {
    display: flex;
    justify-content: space-between;
}

.nameInput , .cancelar{
    display: none;
}

.formUpdateName{
    display: flex;
    justify-content: space-between;
}

.btns-editar{
    display: flex;
    gap: 20px;
}

@media (max-width:700px) {
    .presentacion-usuario img{
        width: 120px;
        height: 120px;
    }
}