main{
    padding: 10px 20px;
}

body::-webkit-scrollbar {
    display: none;
    height: 100vh;
    width: 100%;
}

h2{
    flex-grow: 1;
}

.header-presentacion-producto{
    display: flex;
}

.header-presentacion-producto button{
    font-size: 30px;
    background: none;
    border: none;
}

.carousel-container-inner{
    margin-top: 100px;
}

.carousel-container{
    position: relative;
}

.imagenes-secundarias{
    display: none;
}


.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
    z-index: 10;
}


.flecha-anterior {
    left: 5px;
}

.flecha-siguiente {
    right: 5px;
}

.banner-container img {
    height: 100%;
    width: 40%;
    display: block;
    object-fit: cover;
    margin:0px auto;
}

.estrella{
    color: #1b1b1b;
    font-size: 20px;
}

.form-seleccionar-tallas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-seleccionar-tallas .button-seleccionar-talla{
    width: 200px;
    padding: 5px 10px;
}

.formularios{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-seleccion-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.form-seleccion-botones input{
    padding: 8px 10px;
    width: 250px;
}

.form-seleccion-botones p{
    text-align: center;
}

.descripcion-producto{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.descripcion-producto ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
}

.valoracion-principal-producto h3{
    padding: 10px 0px;
}

.valoracion-cliente-estrellas{
    display: flex;
}

.valoracion-cliente-estrellas img{
    width: 20px;
    gap: 10px;
}

.informacion-valoracion{
    display: flex;
    justify-content: space-between;
    color: gray;
}

.dejarComentario label{
    display: block;
    margin: 10px 0px;
}

.valoraciones-producto h3{
    margin: 20px 0px;
}

.caja-comentario{
    display: flex;
    justify-content: space-between;
}

.caja-comentario textarea{
    width: 300px;
    height: 50px;
}

.caja-comentario input{
    height: 35px;
    padding: 10px;
}

.comentarios{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usuario-comentario{
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.cambio2{
    display: none;
}

@media screen and (min-width:600px){

    .banner-container{
        display: flex;
        gap: 10px;
        height: 800px;
    }

    .imagenes-secundarias{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 10px;
    }

    .imagenes-secundarias img{
        width: 200px;
    }

    .carousel-container{
        flex-grow: 1;
        position: relative;
    }
}

@media screen and (min-width:850px){

    main{
        padding: 32px 46px;
    }
    
    .banner-container{
        height: 700px;
    }

    .cambio{
        display: none;
    }

}