main {
    padding: 10px 20px;
}

body::-webkit-scrollbar {
    display: none;
    height: 100vh;
    width: 100%;
}

h2 {
    flex-grow: 1;
}

.header-presentacion-producto {
    display: flex;
}

.header-presentacion-producto button {
    font-size: 30px;
    background: none;
    border: none;
}

.carousel-container-inner {
    margin-top: 100px;
}

.carousel-container {
    position: relative;
}

.imagenes-secundarias {
    display: none;
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
    z-index: 10;
}

.flecha-anterior {
    left: 5px;
}

.flecha-siguiente {
    right: 5px;
}

.banner-container img {
    height: 100%;
    width: 30%;
    display: block;
    object-fit: cover;
    margin: 0px auto;
}

.estrella {
    color: #1b1b1b;
    font-size: 20px;
}

.form-seleccionar-tallas {
    width: 100%;
    display: flex;
    justify-content: end;
}

.form-seleccionar-tallas label {
    margin-right: 10px;
    color: #0f172a;
    font-weight: bold;
}

.form-seleccionar-tallas .button-seleccionar-talla {
    width: 200px;
    padding: 5px 10px;
}

.button-seleccionar-talla {
    padding: 8px 10px;
    width: 250px;
    border: none;
    background-color: #008CB2;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.formularios {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.form-seleccion-botones {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.form-seleccion-botones input {
    padding: 8px 10px;
    width: 250px;
    background: #011635;
    font-weight: none;
    border: none;
    border-radius: 5.5px;
    color: white;
    height: 40px;
    cursor: pointer;
}

.form-seleccion-botones p {
    text-align: center;
}

.descripcion-producto {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.descripcion-producto ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
}

.valoracion-principal-producto h3 {
    padding: 10px 0px;
}

.valoracion-principal-producto {
    font-size: 17px;
}

.valoracion-cliente-estrellas img {
    width: 20px;
    gap: 10px;
}

.informacion-valoracion {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.dejarComentario label {
    display: block;
    margin: 10px 0px;
}

.valoraciones-producto h3 {
    margin: 20px 0px;
}

.caja-comentario {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dejarComentario h4 {
    font-size: 17.7px;
    color: #0f172a;
    margin-bottom: 10px;
}

.caja-comentario textarea {
    width: 75%;
    height: 110px;
    font-size: 18px;
    color: gray;
    border: 1px solid #a8a3a3;
}

.caja-comentario input {
    padding: 8px 10px;
    width: 250px;
    border: none;
    background-color: #008CB2;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.comentarios {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usuario-comentario {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.cambio2 {
    display: none;
}

@media screen and (min-width:598px) {
    .banner-container {
        display: flex;
        gap: 10px;
        height: 800px;
    }
    .imagenes-secundarias {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 10px;
    }
    .imagenes-secundarias img {
        width: 200px;
    }
    .carousel-container {
        flex-grow: 1;
        position: relative;
    }
}

@media screen and (max-width: 600px){
    .banner-container {
        display: flex;
        gap: 10px;
        height: 628px;
        overflow-y: auto;
        flex-direction: column-reverse;
    }
    .imagenes-secundarias {
        display: flex;
        overflow-y: auto;
        gap: 10px;
    }    
    .banner-container img{
        width: 47%;
        margin-top: 27px;
    }
    h2{
       font-size: 30px;
    }
    .form-seleccionar-tallas .button-seleccionar-talla {
        width: 140px;
        padding: 5px 10px;
    }
    .descripcion-producto {
        margin: 25px 0px;
    }
    
    
}

@media screen and (min-width:850px) {
    main {
        padding: 32px 46px;
    }
    .banner-container {
        height: 700px;
    }
    .cambio {
        display: none;
    }
}

#btnProducto {
   display: block;
    margin-left: -0px;
}