.contenedor{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}
h4{
    font-size: 1rem;
}
span{
    color: #475569;
}
/* Header */
header{
    width: 100%;
}
.card img{
    width: 80%;
    height: 300px;
    object-fit: cover;
}
.min-info img{
    width: 30%;
    height: 35px;
    object-fit: cover;
}
.min-info{
    display: flex;
    flex-direction: column;
}
.content-cards{
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.content-cards h4 {
    color: gray;
}

.precio{
    color: #008CB2;
    font-weight: bolder;
}
.estrella{
    margin: 0px auto;
}
.main-info{
    margin-bottom: 50px;
}
.card{
    width: 300px;
}
/* Aside */
aside{
    width: 20%;
}