h1 {
    color: white;
    margin-bottom: 20px;
}

input,
p,
label {
    font-size: 16px;
}

.primeraImg {
    width: 135px;
    margin: auto;
    height: 135px;
    position: relative;
    bottom: 61px;
    display: flex;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-shadow: 1.5px 1.5px 0.5px gray;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    background-color: #191515;
}

.iconUser {
    width: 100px;
}

.cajaDatos {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.formulario-btn {
    margin-top: 40px;
}

.boton {
    background-color: #008CB2;
    color: white;
    padding: 8px 20px;
    display: block;
    border: none;
    font-size: 17px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
}

.contenedorPagina {
    width: 90%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}


input {
    border: 1.5px solid gray;
    background-color: white;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    font-family: inherit;
}

div .error-php {
    display: none;
}

#usuario-error,
#contrasena-error,
#contrasena2-error,
#email-error,
.error-php {
    background-color: #eeeeee;
    padding: 10px;
    margin: 3px;
    color: #dc0000;
    border-radius: 5px;
}

@media (min-width:700px) {
    .contenedorPagina {
        max-width: 45%;
    }
}