*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c8ecd3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    margin-top: 5px;
    padding: 5px 10px;
    font-family: inherit;
}

input, p, label {
    font-size: 16px;
}

.primeraImg{
    width: 135px;
    margin: auto;
    height: 135px;
    position: relative;
    bottom: 61px;
    display: flex;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-shadow: 1.5px 1.5px 0.5px gray;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}

.iconUser{
    width: 100px;
}

img{
    width: 100%;
    height: 100%;
}

.cajaDatos{
    width: 100%;
    margin-bottom: 5px;
}

.cajaDatos input {
    width: 100%;
}

.formulario-footer {
    margin-top: 20px;
}

.boton {
    background-color: #008CB2;
    color: black;
    padding: 5px 10px;
    display: block;
    border: none;
    font-size: 17px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedorPagina{
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
input{
    border:1.5px solid gray;
    background-color: white;
    height: 35px;
    border-radius: 5px;
}