/* diseñado a modo general*/
h1 {
  margin-bottom: 20px;
}

input,
label {
  width: 100%;
  font-size: 16px;
}

.primeraImg {
  width: 135px;
  margin: auto;
  height: 135px;
  position: relative;
  bottom: 61px;
  display: flex;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  box-shadow: 1.5px 1.5px 0.5px gray;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centro-part1 {
  gap: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: start;
}

.formulario-btn {
  margin: 25px 20px 40px 0px;
}

.contenedorPagina{  
  width: 90%;
  height: auto;
  padding: 20px;
}

div .error-php {
  display: none;
}

#usuario-error,
#contrasena-error,
#contrasena2-error,
#email-error,
.error-php {
  background-color: #eeeeee;
  padding: 10px;
  margin: 3px;
  color: #dc0000;
  border-radius: 5px;
}

.contenedor-presentacion {
  height: 100vh;
  width: 100%;
  background-color: #062c58;
  color: #ffffffbf;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.caja-imagen-presentacion {
  max-width: 300px;
}

section div:first-child {
  display: flex;
  gap: 15px;
}

section div i {
  color: #19b7e0;
  font-size: 25px;
}

.contenedor-presentacion:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

span {
  position: relative;
  bottom: 5px;
  font-weight: 900;
}
.imagen-george-prada {
  width: 200px;
  display: flex;
  align-self: flex-start;
}

.box-title h3 {
  font-size: 30px;
}
/* Media para cuando la web sea mayor a 1000px*/
@media (min-width: 1000px) {
  .centro {
    flex-direction: row;
  }

  .contenedor-presentacion{
    flex: 1;
  }
  .centro-part1{
    width: 50%;
  }
}
/* cuando sea menor a 650px*/
@media (max-width: 650px) {
  .imagen-george-prada {
    align-self: center;
  }



}

