/*Empezaremos a maquetar la pagina lo que seria lo "basico de la pagina web"*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main{
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
}

/*Ahora procedermos a maquetar la primera parte que vamos a ver y que contendra toda la informacion todas las cajas para realizar
el registro*/

.primeraImg{
    width: 135px;
    margin: auto;
    height: 135px;
    position: relative;
    bottom: 61px;
    display: flex;
    border-radius: 50%;
    background-color: #19d1c2;
    padding: 10px;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    
}

.iconUser{
    width: 100px;
}

.contenedorPagina{
    width: 90%;
    height: 450px;
    background-color: white;
    padding: 20px;
}

/*Hasta aqui informacion basica de estructura fondo blanco mas imagen encabezada del usuario y letras*/

/*Ahora procedermos a maquetar lo que seria las cajas donde el usuario introducira la informacion*/

